.profileBox {
    position: absolute;
    left: 100%;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    z-index: -1;
    @include transition-duration;
    .profileHeader {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
        h2 {
            margin-top: 10px;
            margin-bottom: -15px;
            display: inline-block;
            font-size: 5em;
            color: $primary-color;
            @include tablet-breakpoint {
                margin-top: 0px;
                font-size: 4em;
            }
        }
        .info {
            display: inline-block;
            margin-left: 2em;
            color: rgba(145, 145, 145, 1);
            h3 {
                font-family: Open Sans;
                font-size: 1.5em;
                font-weight: 300;
                line-height: 1em;
            }
            .riding {
                margin-bottom: -20px;
            }
            .party {
                text-transform: uppercase;
            }
        }
        .billSearch {
            form {
                width: 98%;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    width: calc(100% - 8em);
                    text-overflow: ellipsis;
                    font-size: 2vw;
                    font-weight: 300;
                    border: none;
                    background: transparent;
                    color: $primary-color;
                    -webkit-appearance: textfield;
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.16);
                    &:focus {
                        outline: none;
                    }
                    &::-ms-clear { /* remove cross in IE */
                        display: none;
                    }
                    @include box-sizing(border-box);
                    @include placeholder {
                        color: #999;
                    }
                    @include tablet-breakpoint {
                        width: 70%;
                        font-size: 1.25em;
                        margin-top: 1em;
                    }
                }
                .sessionSelect {
                    width: 11em;
                    -webkit-transform: translate3d(0px, -50%, 0) scale3d(1, 1, 1);
                    transform: translate3d(0px, -50%, 0) scale3d(1, 1, 1);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform-origin: 50% 50%;
                    text-transform: uppercase;
                    .select {
                        display: block;
                        position: relative;
                        top:-5px;
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;    
                        padding: 0.75em;
                        padding-right: 3em;
                        border-radius: 5px;
                        background: rgba(118, 117, 128, 0.05);
                        font-size: 1em;
                        font-weight: 700;
                        color: rgba(236, 90, 98, 0.8);
                        @include transition-duration;
                        &::after {
                            content: '\25BE';
                            right: 1em;
                            speak: none;
                            position: absolute;
                            top: 50%;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-transform: translateY(-50%) rotate(180deg);
                            transform: translateY(-50%) rotate(180deg);
                        }
                        &:hover {
                            color: rgba(236, 90, 98, 0.8);
                            background: rgba(255, 255, 255, 0.5);
                        }
                    }
                    ul {
                        position: absolute;
                        overflow: hidden;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        width: inherit;
                        border-radius: 5px;
                        font-size: 0.75em;
                        opacity: 1;
                        @include transition-duration;
                        li {
                            background: rgba(200, 200, 200, 0.98);
                            display: block;
                            position: relative;
                            cursor: pointer;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;    
                            padding: 0.75em;
                            text-transform: uppercase;
                            font-size: 1.2em;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.8);
                            z-index: 10;
                            @include transition-duration;

                            .sum {
                                color: #919191;
                                float: right;
                            }
                            &:hover {
                                background: rgba(255, 255, 255, 0.98);
                            }
                        }
                    }
                    &.collapsed {
                        .select {
                            color: rgba(145, 145, 145, 1);
                            &::after {
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                        }
                        ul {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    .votes {
        .billStack {
            width: 100%;
            .voteRow {
                position: relative;
                .loader {
                    background-color: rgba(187, 187, 187, 0.27);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    @include keyframes(loader-loading) {
                        0%   { width: 0%; }
                        100% { width: 90%; }
                    }
                    @include keyframes(loader-complete) {
                        0%   { width: 90%; opacity: 1; }
                        100% { width: 100%; opacity: 1; }
                    }
                    &.loading {
                        width: 90%;
                        @include animation('loader-loading 1s 1');
                    }
                    &.complete {
                        width: 100%;
                        @include animation('loader-loading 0.5s 1');
                        opacity: 1;
                        z-index: -1;
                    }
                }
                &.emptyrow {
                    span {
                        visibility: hidden;
                    }
                }
            }
            .row {
                @mixin bill-fonts {
                    text-transform: uppercase;
                    text-align: center;
                }
                background-color: #ccc;
                .main {
                    cursor: pointer; 
                    &:nth-child(odd) {
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.75);
                        }
                    }
                    &:nth-child(even) {
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.1);
                        }
                    }
                }
                &:nth-child(odd) {
                    background-color: rgba(255, 255, 255, 0.3);
                }
                .col {
                    padding: 15px 20px;
                    &.shortname {
                        &:not(:first-child) {
                            font-family: Open Sans;
                        }
                    }
                    &.number, &.session {
                        @include bill-fonts;
                        font-weight: 600;
                        width: 10%;
                        vertical-align: middle;
                        span {
                            &.label {
                                display: block;
                                font-weight: 400;
                                font-size: 0.9em;
                                color: #666;
                            }
                            @include mobile-only;
                        }
                    }
                    &.vote {
                        @include bill-fonts;
                        padding: 15px 0px;
                        font-weight: 800;
                        width: 10%;
                        span {
                            padding: 5px;
                            border-radius: 5px;
                        }
                        span {
                            &.label {
                                padding: 10px;
                                display: block;
                                font-weight: 400;
                                font-size: 0.9em;
                                color: #666;
                                @include mobile-only;
                            }
                        }
                        &.yes {
                            span.voteText {
                                background-color: rgba(39, 174, 96, 0.8);
                            }
                        }
                        &.no {
                            span.voteText {
                                background-color: rgba(192, 57, 43, 0.8);
                            }
                        }
                        @include mobile-only;
                        display: table-cell;
                        vertical-align: middle;

                    }
                    &.law {
                        @include bill-fonts;
                        font-weight: 800;
                        width: 15%;
                        span {
                            padding: 10px;
                            border-radius: 5px;
                        }
                        span {
                            &.label {
                                display: block;
                                font-weight: 400;
                                font-size: 0.9em;
                                color: #666;
                            }
                            @include mobile-only;
                        }
                        &.failed {
                            span {
                                background-color: rgba(192, 57, 43, 0.8);
                            }
                        }
                        &.passed {
                            span {
                                background-color: rgba(39, 174, 96, 0.8);
                            }
                        }
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &.dropdown {
                        width: 5%;
                        vertical-align: middle;
                        span {
                            svg {
                                width: 1.5em;
                                -webkit-transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(90deg);
                                transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(90deg);
                                fill: #666;
                                margin: 0 auto;
                                @include transition-duration;
                            }
                        }
                    }
                    &.spacer {
                        width: 5%;
                        padding: 0px;
                    }
                }
                &.loaded {
                    .dropdown {
                        span {
                            svg {
                                -webkit-transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(-90deg);
                                transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(-90deg);
                            }
                        }
                    }                }
                .row {                    
                     &.info {
                        height: 0px;
                        display:block;
                        overflow: hidden;
                        position: relative;
                        z-index: 0;
                        @include transition-duration;
                        h4 {
                            text-align: center;
                        }
                        .billInfo {
                            width: 80%;
                            span {
                                font-family: Open Sans;
                                font-weight: 400;
                            }
                        }
                        &.current {
                            border-top: 1px solid #eee;
                            display:table;
                            border-bottom: 1px solid #eee;
                            height: auto;
                            max-height: 10em;
                            overflow: hidden;
                            background-color: rgba(255, 255, 255, 0.3);
                            .sponsor {
                                text-align: center;
                                a {
                                    width: 100%;
                                    display: block;
                                    margin: 0.3em 0;
                                    cursor: pointer;
                                    text-decoration:  none;
                                    outline: none;
                                    h3 {
                                        font-size: 1.4em;
                                        display: inline-block;
                                        font-weight: 600;
                                        margin: 0 0 0 0;
                                        color: rgba(0, 0, 0, 0.7);
                                        font-family: 'Open Sans', sans-serif;
                                    }
                                    div {
                                        background-color: #ddd;
                                        display: block;
                                        margin:  0 auto;
                                        width: 80px;
                                        height: 80px;
                                        margin: 0 auto;
                                        vertical-align: middle;
                                        background-repeat: no-repeat;
                                        line-height: 50px;
                                        border-radius: 50%;
                                        background-size: cover;
                                        background-position: center 20%; 
                                    }
                                    .party {
                                        display: block;
                                        text-transform: uppercase;
                                        color: rgba(0, 0, 0, 0.5);
                                        font-weight: 600; 
                                    }
                                    .riding {
                                        display: block;
                                        text-transform: uppercase;
                                        color: rgba(0, 0, 0, 0.5);
                                        font-weight: 600; 
                                    }
                                    &.cpc {
                                        .party {
                                            color: rgba(12, 106, 170, 1);
                                        }
                                    }
                                    &.liberal {
                                        .party {
                                            color: rgba(215, 24, 32, 1);
                                        }
                                    }
                                    &.NDP {
                                        .party {
                                            color: rgba(241, 102, 34, 1);
                                        }
                                    }
                                    &.bloc {
                                        .party {
                                           color: rgba(8, 59, 113, 1);
                                        }
                                    }
                                    &.green {
                                        .party {
                                            color: rgba(60, 155, 52, 1); 
                                        }
                                    }
                              }
                            }
                            .partyVotes {
                                border-right: 1px dashed rgba(255, 255, 255, 0.75);
                                border-left: 1px dashed rgba(255, 255, 255, 0.75);
                                .partyVotesTable {
                                    .partyVoteHeader {
                                        display: table;
                                        table-layout: fixed;
                                        width: 100%;
                                        padding: 1px;
                                        div {
                                            display: table-cell;
                                        }
                                        .yes {
                                            font-family: Open Sans;
                                            width: 20%;
                                            font-size: 0.6em;
                                            text-align: center;
                                            vertical-align: middle;
                                            font-weight: 600;
                                            background-color: rgba(39, 174, 96, 0.5);

                                        }
                                        .no {
                                            font-family: Open Sans;
                                            width: 20%;
                                            font-size: 0.6em;
                                            text-align: center;
                                            vertical-align: middle;
                                            font-weight: 600;
                                            background-color: rgba(192, 57, 43, 0.5);
                                        }
                                        .abstain {
                                            font-family: Open Sans;
                                            width: 20%;
                                            font-size: 0.6em;
                                            text-align: center;
                                            vertical-align: middle;
                                            font-weight: 600;
                                            background-color: rgba(150, 150, 150, 0.5);
                                        }
                                        .name {
                                            visibility: hidden;
                                        }
                                    }
                                    .partyVote {
                                        display: table;
                                        width: 100%;
                                        padding: 1px;
                                        div {
                                            display: table-cell;
                                        }
                                        .name {
                                            text-transform: uppercase;
                                            width: 40%;
                                            font-weight: 600;
                                            color: #fff;
                                            text-align: center;
                                            padding: 5px;
                                        }
                                        &.total {
                                            .name {
                                                background-color: #333;
                                            }
                                        }
                                        .yes {
                                            font-family: Open Sans;
                                            width: 20%;
                                            text-align: center;
                                            font-weight: 600;
                                            background-color: rgba(39, 174, 96, 0.5);
                                        }
                                        .no {
                                            font-family: Open Sans;
                                            width: 20%;
                                            text-align: center;
                                            font-weight: 600;
                                            background-color: rgba(192, 57, 43, 0.5);
                                        }
                                        .abstain {
                                            font-family: Open Sans;
                                            width: 20%;
                                            text-align: center;
                                            font-weight: 600;
                                            background-color: rgba(150, 150, 150, 0.5);
                                        }
                                        &.yes {
                                            .name {
                                                background-color: rgba(39, 174, 96, 0.8);
                                            }
                                        }
                                        &.no {
                                            .name {
                                                background-color: rgba(192, 57, 43, 0.8); 
                                            }
                                        }
                                        &.abstain {
                                            .name {
                                                background-color: rgba(150, 150, 150, 0.8);
                                            }
                                        }
                                        &.tie {
                                            .name {
                                                background:  repeating-linear-gradient(
                                                    45deg,
                                                    #333,
                                                    #333 10px,
                                                    #999 10px,
                                                    #999 20px
                                                );
                                            }
                                            &.yn {
                                                .name {
                                                    background:  repeating-linear-gradient(
                                                        45deg,
                                                        rgba(39, 174, 96, 0.8),
                                                        rgba(39, 174, 96, 0.8) 10px,
                                                        rgba(192, 57, 43, 0.5) 10px,
                                                        rgba(192, 57, 43, 0.5) 20px
                                                    );
                                                }
                                            }
                                            &.ya {
                                                .name {
                                                    background:  repeating-linear-gradient(
                                                        45deg,
                                                        rgba(39, 174, 96, 0.8),
                                                        rgba(39, 174, 96, 0.8) 10px,
                                                        rgba(150, 150, 150, 0.8) 10px,
                                                        rgba(150, 150, 150, 0.8) 20px
                                                    );
                                                }
                                            }
                                            &.na {
                                                .name {
                                                    background:  repeating-linear-gradient(
                                                        45deg,
                                                        rgba(192, 57, 43, 0.5),
                                                        rgba(192, 57, 43, 0.5) 10px,
                                                        rgba(150, 150, 150, 0.8) 10px,
                                                        rgba(150, 150, 150, 0.8) 20px
                                                    );
                                                }
                                            }
                                        }

                                    }
                                }
                            }
                            .moreBillInfo {
                                border-right: 1px dashed rgba(255, 255, 255, 0.75);
                                a {
                                    display: block;
                                    position: relative;
                                    text-decoration: none;
                                    padding: 10px;
                                    border-radius: 5px;
                                    margin: 5px;
                                    background-color: #ccc;
                                    font-weight: 700;
                                    color: #666;
                                    span {
                                        display: inline-block;
                                        width: 95%; 
                                    }
                                    svg {
                                        width: 1em;
                                        position: absolute;
                                        right: 0.5em;
                                        top: 50%;
                                        -webkit-transform: translate3d(0em, -50%, 0) scale3d(1, 1, 1);
                                        transform: translate3d(0em, -50%, 0) scale3d(1, 1, 1);
                                        fill: #fff;
                                        margin: 0 auto;
                                        @include transition-duration;
                                    }
                                }
                            }
                            .sponsor {
                                border-left: 1px dashed rgba(255, 255, 255, 0.75);
                            }
                        }

                        @include mobile-breakpoint {
                            width: 100%;
                            padding-right: 2%;
                            .col {
                                display:block;
                            }
                        }
                    }
                }
                &.empty {
                    span {
                        visibility: hidden;
                    }
                }
                &.noresults {
                    .row {
                        font-family:Open Sans;
                        text-align: center;
                    }
                }
                &.header {
                    .col {
                        @include bill-fonts;
                        font-weight: 800;
                        color: #fff;
                        background-color: #333;
                    }
                }
               
            }
        }
    }
    .close {
        display: block;
        width: 2em;
        height: 2em;
        position: absolute;
        right: 2em;
        top: 1em;
        background: transparent url(../images/close.svg) no-repeat center center;
        opacity: 0.7;
        @include transition-duration;
        &:hover {
            opacity: 1;
        }
        @include tablet-breakpoint {
            display: none;
        }
    }
    a.return {
        display: none;
        position: fixed;
        top: 0em;
        left: 0em;
        width: 100%;
        padding-top: 0.1em;
        padding-bottom: 0.2em;
        text-align: center;
        background-color: rgba(175, 175, 175, 0.75);
        cursor: pointer;
        text-decoration: none;
        @include transition-duration;
        .icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            background: transparent url(../images/magnifier.svg) no-repeat center center;
            transform-origin: 50% 50%;
            -webkit-transform: translate3d(-0.2em, 0.2em, 0) scale3d(1, 1, 1);
            transform: translate3d(-0.2em, 0.2em, 0) scale3d(1, 1, 1);
        }
        span {
            color: #ddd;
            font-size: 0.9em;
            line-height: 1em;
            font-weight: 600;
            font-family: Open Sans;
            text-transform: uppercase
        }
        &:hover {
            background-color: rgba(100, 100, 100, 0.75);
        }
        @include tablet-breakpoint {
            display: initial;
        }
    }
    &.profile {
        left: 0%;
        margin-left: 380px;
        padding-right: 380px;
        @include transition-duration;
        @include tablet-breakpoint {
            margin-left: 0px;
            padding-right: 0px;
        }
    }
    &.search {
        overflow: hidden;
    }
    &.info {
        overflow: hidden;
    }
    @include medium-breakpoint {
        .votes {
            .billStack {
                .row {
                    .col {
                        padding: 15px;
                        &.session {
                            width: 15%;
                        }
                        &.number {
                            width: 15%;
                        }
                        &.vote {
                            width: 15%;
                        }
                        &.spacer.left {
                            display:none;
                        }
                    }
                    .info {
                        .col {
                            &.spacer {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    @include tablet-breakpoint {
        .billSearch {
            form {
                input {
                    width: 100%;
                    font-size: 1em;
                    font-weight: 600;
                    margin-bottom: 1em;
                }
            }
        }
    }
    @include mobile-breakpoint {
        &.profile {
            margin-left: 0px;
            padding-right: 0px;
        }
        .profileHeader {
            h2 {
                padding-top: 0.5em;
                font-size: 2em;
            }
            .info {
                margin-left: 0em;
                width: 100%;
                h3 {
                    font-family: Open Sans;
                    font-size: 1em;
                    font-weight: 300;
                }
                .riding {
                    margin-bottom: -10px;
                    float: left;
                }
                .party {
                    float: right;
                }
            }
            .billSearch {
                form {
                    width: 98%;
                    position: relative;
                    border-bottom: none;
                    input {
                        width: 100%;
                        font-size: 1em;
                        font-weight: 600;
                        border-bottom: 1px dashed rgba(0, 0, 0, 0.16); 
                        margin-bottom: 1em;
                    }
                    .sessionSelect {
                        width: 100%;
                        -webkit-transform: translate3d(0px, 0%, 0) scale3d(1, 1, 1);
                        transform: translate3d(0px, 0%, 0) scale3d(1, 1, 1);
                        position: relative;
                        right: 0;
                        top: 0;
                        transform-origin: 0% 0%;
                        .select {
                            top: 0px;
                            padding: 1em;
                            background: transparent;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
        .votes {
            .billStack {
                width: 100%;
                .row {
                    display: block;
                    border-top: 1px solid #eee;
                    position: relative;
                    .col {
                        padding: 15px;
                        &.number {
                            width: 50%;
                            display: inline-block;
                            border-left: 1px dashed rgba(255, 255, 255, 0.3);
                        }
                        &.session {
                            width: 50%;
                            display: inline-block;
                        }
                        &.vote {
                            width: 50%;
                            display: inline-block;
                            &.full-layout {
                                display: none;
                            }
                        }
                        &.law {
                            width: 50%;
                            display: inline-block;
                            border-left: 1px dashed rgba(255, 255, 255, 0.3);
                        }
                        &.shortname {
                            text-align: center;
                            display: block;
                            border-top: 1px dashed rgba(255, 255, 255, 0.3); 
                            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
                            font-size: 0.9em;
                        }
                        &.dropdown {
                            text-align: center;
                            border-top: 1px dashed rgba(255, 255, 255, 0.3);
                            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
                            font-size: 0.9em;
                        }
                        &.spacer {
                            display:none;
                        }
                    }
                    .info {
                        display:none;
                    }
                    &.header {
                        display:none;
                    }
                }
            }
        }
    }

}