/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

html {
  height: 100%;
  width: 100vw;
  overflow-x: hidden; }

body {
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
  background-color: #ccc;
  z-index: -1; }

.searchBox-noscroll {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .searchBox-noscroll.profile {
    width: 380px; }
  @media screen and (max-width: 1024px), (max-device-width: 1024px) {
    .searchBox-noscroll {
      position: absolute;
      top: 0;
      width: 100%; }
      .searchBox-noscroll.profile {
        left: -400px; } }
  @media screen and (max-width: 668px), (max-device-width: 668px) {
    .searchBox-noscroll.profile {
      left: -400px; } }

.searchBox {
  width: 100%;
  background: #f1f1f1;
  position: relative;
  height: 100%;
  overflow-y: auto;
  top: 0px;
  left: 0px;
  -webkit-overflow-scrolling: touch;
  -moz-transition-property: width;
  -o-transition-property: width;
  -webkit-transition-property: width;
  transition-property: width;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .searchBox .searchForm {
    width: 80%;
    height: 160px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    @media screen and (max-width: 1024px), (max-device-width: 1024px) {
      .searchBox .searchForm {
        width: 90%;
        height: 10vw; } }
    .searchBox .searchForm button {
      color: #f1f1f1;
      pointer-events: auto;
      opacity: 1;
      -webkit-transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
      transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
      position: absolute;
      width: 7vw;
      height: 7vw;
      text-indent: 100px;
      overflow: hidden;
      right: 0;
      top: 50%;
      background: transparent url(../images/magnifier.svg) no-repeat center center;
      background-size: 100%;
      border: none;
      transform-origin: 50% 50%;
      -webkit-appearance: button;
      cursor: pointer;
      text-transform: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -moz-transition-property: width, height;
      -o-transition-property: width, height;
      -webkit-transition-property: width, height;
      transition-property: width, height;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
    .searchBox .searchForm input {
      width: 100%;
      height: 100%;
      padding: 0 10% 0 10px;
      font-size: 7vw;
      font-weight: 600;
      border: none;
      background: transparent;
      color: #ec5a62;
      -webkit-appearance: textfield;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -moz-transition-property: font-size;
      -o-transition-property: font-size;
      -webkit-transition-property: font-size;
      transition-property: font-size;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .searchBox .searchForm input:focus {
        outline: none; }
      .searchBox .searchForm input::-ms-clear {
        /* remove cross in IE */
        display: none; }
      .searchBox .searchForm input:-ms-input-placeholder {
        color: #c2c2c2; }
      .searchBox .searchForm input:-moz-placeholder {
        color: #c2c2c2; }
      .searchBox .searchForm input::-moz-placeholder {
        color: #c2c2c2; }
      .searchBox .searchForm input::-webkit-input-placeholder {
        color: #c2c2c2; }
    .searchBox .searchForm span {
      display: block;
      width: 100%;
      color: #c2c2c2;
      text-align: center;
      font-style: italic;
      opacity: 0;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
    .searchBox .searchForm:hover span {
      opacity: 1; }
  .searchBox .topLinks {
    position: absolute;
    width: 100%; }
    .searchBox .topLinks .github {
      background: transparent url(../images/github.svg) no-repeat center center;
      top: 1em;
      left: 1em;
      display: inline-block;
      width: 2em;
      height: 2em;
      position: absolute;
      transform-origin: 50% 50%;
      opacity: 0.1;
      -webkit-transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1);
      transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1);
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .searchBox .topLinks .github:hover {
        opacity: 0.75; }
      @media screen and (max-width: 668px), (max-device-width: 668px) {
        .searchBox .topLinks .github {
          top: 0.5em;
          left: 1em; } }
      @media screen and (max-width: 668px), (max-device-width: 668px) {
        .searchBox .topLinks .github {
          width: 1.5em;
          height: 1.5em; } }
    .searchBox .topLinks .info {
      background: transparent url(../images/info.svg) no-repeat center center;
      top: 1em;
      right: 1em;
      display: inline-block;
      width: 2em;
      height: 2em;
      position: absolute;
      transform-origin: 50% 50%;
      opacity: 0.1;
      -webkit-transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1);
      transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1);
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .searchBox .topLinks .info:hover {
        opacity: 0.75; }
      @media screen and (max-width: 668px), (max-device-width: 668px) {
        .searchBox .topLinks .info {
          top: 0.5em;
          right: 1em; } }
      @media screen and (max-width: 668px), (max-device-width: 668px) {
        .searchBox .topLinks .info {
          width: 1.5em;
          height: 1.5em; } }
  .searchBox .searchContent {
    opacity: 1;
    height: auto;
    pointer-events: auto;
    color: #333;
    margin-top: 4.5em;
    width: 100%;
    padding: 0 10.5%;
    background: #f1f1f1;
    position: absolute; }
    @media screen and (max-width: 1024px), (max-device-width: 1024px) {
      .searchBox .searchContent {
        padding: 0 5px; } }
    .searchBox .searchContent .searchStack {
      width: 50vw;
      min-width: 320px;
      padding: 0 0 6em;
      margin: 0 auto;
      -moz-transition-property: width;
      -o-transition-property: width;
      -webkit-transition-property: width;
      transition-property: width;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      @media screen and (max-width: 1024px), (max-device-width: 1024px) {
        .searchBox .searchContent .searchStack {
          width: 90vw; } }
      .searchBox .searchContent .searchStack .leaf {
        display: inline-block;
        width: 2em;
        float: right;
        height: 2em;
        background: transparent url(../images/leaf.svg) no-repeat center center;
        transform-origin: 50% 50%;
        -webkit-transform: translate3d(0em, -0.25em, 0) scale3d(1, 1, 1);
        transform: translate3d(0em, -0.25em, 0) scale3d(1, 1, 1);
        opacity: 0.3;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
      .searchBox .searchContent .searchStack .sessionsSelector {
        position: relative; }
        .searchBox .searchContent .searchStack .sessionsSelector h2 {
          display: inline-block; }
        .searchBox .searchContent .searchStack .sessionsSelector .buttons {
          float: right;
          display: inline-block;
          margin-top: 16px;
          margin-bottom: 8px; }
          .searchBox .searchContent .searchStack .sessionsSelector .buttons .sessionButton {
            display: inline-block;
            padding: 5px;
            background-color: #ddd;
            margin: 5px;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer; }
            .searchBox .searchContent .searchStack .sessionsSelector .buttons .sessionButton.active {
              color: #fff;
              background-color: #ec5a62; }
      .searchBox .searchContent .searchStack h2 {
        margin-top: 16px;
        margin-bottom: 8px;
        font-size: 2em;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        color: #c2c2c2;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
        @media screen and (max-width: 1024px), (max-device-width: 1024px) {
          .searchBox .searchContent .searchStack h2 {
            font-size: 2em;
            padding: 0; } }
      .searchBox .searchContent .searchStack > a {
        position: relative;
        width: 100%;
        height: 80px;
        padding: 0.75em;
        display: block;
        margin: 0.3em 0;
        cursor: pointer;
        border-radius: 5px;
        background: rgba(118, 117, 128, 0.05);
        outline: none;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
        .searchBox .searchContent .searchStack > a h3 {
          vertical-align: middle;
          font-size: 1.4em;
          display: inline-block;
          font-weight: 600;
          margin: 0 0 0 0;
          color: rgba(145, 145, 145, 0.7);
          font-family: 'Open Sans', sans-serif;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
          @media screen and (max-width: 1024px), (max-device-width: 1024px) {
            .searchBox .searchContent .searchStack > a h3 {
              font-size: 1.3em; } }
        .searchBox .searchContent .searchStack > a div {
          background-color: #ddd;
          display: inline-block;
          width: 60px;
          height: 60px;
          margin: 0 10px 0 0;
          vertical-align: middle;
          background-repeat: no-repeat;
          line-height: 50px;
          border-radius: 50%;
          background-size: cover;
          background-position: center 20%; }
        .searchBox .searchContent .searchStack > a span.party {
          position: absolute;
          right: 0.5em;
          top: 0.5em;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.2);
          font-weight: 600; }
        .searchBox .searchContent .searchStack > a:hover h3 {
          color: #ec5a62; }
        .searchBox .searchContent .searchStack > a:hover span {
          color: rgba(0, 0, 0, 0.2); }
        .searchBox .searchContent .searchStack > a:hover, .searchBox .searchContent .searchStack > a:focus {
          background: rgba(118, 117, 128, 0.1); }
        .searchBox .searchContent .searchStack > a.active {
          margin-top: 0px;
          margin-bottom: 0px;
          -ms-transform: translate(0px, 0px);
          /* IE 9 */
          -webkit-transform: translate(0px, 0px);
          /* Safari */
          transform: translate(0px, 0px);
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
          .searchBox .searchContent .searchStack > a.active h3 {
            color: rgba(236, 90, 98, 0.9); }
          .searchBox .searchContent .searchStack > a.active span {
            color: rgba(0, 0, 0, 0.2); }
        .searchBox .searchContent .searchStack > a.cpc:hover span, .searchBox .searchContent .searchStack > a.cpc.active span {
          color: rgba(12, 106, 170, 0.5); }
        .searchBox .searchContent .searchStack > a.liberal:hover span, .searchBox .searchContent .searchStack > a.liberal.active span {
          color: rgba(215, 24, 32, 0.5); }
        .searchBox .searchContent .searchStack > a.NDP:hover span, .searchBox .searchContent .searchStack > a.NDP.active span {
          color: rgba(241, 102, 34, 0.5); }
        .searchBox .searchContent .searchStack > a.bloc:hover span, .searchBox .searchContent .searchStack > a.bloc.active span {
          color: rgba(8, 59, 113, 0.5); }
        .searchBox .searchContent .searchStack > a.green:hover span, .searchBox .searchContent .searchStack > a.green.active span {
          color: rgba(60, 155, 52, 0.5); }
        .searchBox .searchContent .searchStack > a.placeholder h3 {
          background-color: rgba(145, 145, 145, 0.1);
          color: rgba(118, 117, 128, 0);
          white-space: nowrap; }
        .searchBox .searchContent .searchStack > a.placeholder span.party {
          background-color: rgba(145, 145, 145, 0.1);
          color: rgba(118, 117, 128, 0); }
        .searchBox .searchContent .searchStack > a.reduce-medium h3 {
          font-size: 1.2em; }
        .searchBox .searchContent .searchStack > a.reduce-large h3 {
          font-size: 1em; }
  .searchBox.profile {
    width: 400px; }
    .searchBox.profile .topLinks .github {
      width: 1.5em;
      top: 0.5em;
      left: 1em; }
    .searchBox.profile .topLinks .info {
      width: 1.5em;
      top: 0.5em;
      right: 2em; }
    .searchBox.profile .searchForm {
      width: 90%;
      height: 40px;
      margin: 0 auto; }
      .searchBox.profile .searchForm button {
        width: 30px;
        height: 30px;
        text-indent: 100px; }
    .searchBox.profile input {
      font-size: 2em; }
    .searchBox.profile .searchContent .searchStack {
      width: 100%; }
      .searchBox.profile .searchContent .searchStack .leaf {
        opacity: 0; }
      .searchBox.profile .searchContent .searchStack .sessionsSelector .buttons {
        position: relative;
        text-align: center;
        float: right;
        margin-top: 12px;
        max-width: 60%;
        white-space: nowrap;
        overflow: hidden;
        z-index: 0; }
        .searchBox.profile .searchContent .searchStack .sessionsSelector .buttons .sessionButton {
          font-size: 0.8em;
          display: inline-block;
          padding: 5px;
          background-color: #ddd;
          margin: 5px;
          border-radius: 5px;
          cursor: pointer; }
          .searchBox.profile .searchContent .searchStack .sessionsSelector .buttons .sessionButton.active {
            color: #fff;
            background-color: #ec5a62; }
      .searchBox.profile .searchContent .searchStack .sessionsSelector.false {
        margin-bottom: 40px; }
        .searchBox.profile .searchContent .searchStack .sessionsSelector.false .buttons {
          white-space: normal;
          z-index: 100; }
        .searchBox.profile .searchContent .searchStack .sessionsSelector.false .expandSessions {
          width: 200%;
          height: 300vh;
          z-index: 10;
          position: absolute;
          left: -10vw;
          top: -100vw; }
      .searchBox.profile .searchContent .searchStack .sessionsSelector.true .expandSessions {
        width: 20%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0), #f1f1f1); }
      .searchBox.profile .searchContent .searchStack h2 {
        font-size: 1.4em;
        padding: 0;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
    .searchBox.profile::-webkit-scrollbar {
      display: none; }
  @media screen and (max-width: 1024px), (max-device-width: 1024px) {
    .searchBox {
      width: 100%; }
      .searchBox.profile {
        left: -400px; }
      .searchBox.info {
        overflow: hidden; }
      .searchBox .searchContent {
        padding: 0px; }
        .searchBox .searchContent .searchStack {
          width: 90vw; }
          .searchBox .searchContent .searchStack h2 {
            padding: 0; }
          .searchBox .searchContent .searchStack > a h3 {
            font-size: 1.3em; } }
  @media screen and (max-width: 668px), (max-device-width: 668px) {
    .searchBox.profile {
      left: -400px; }
    .searchBox .searchContent {
      padding: 0px; }
      .searchBox .searchContent .searchStack {
        width: 90vw; }
        .searchBox .searchContent .searchStack h2 {
          font-size: 1.25em;
          padding: 0; }
        .searchBox .searchContent .searchStack .sessionsSelector {
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
          .searchBox .searchContent .searchStack .sessionsSelector .buttons {
            position: relative;
            text-align: center;
            float: right;
            margin-top: 10px;
            max-width: 70%;
            white-space: nowrap;
            overflow: hidden;
            z-index: 0; }
            .searchBox .searchContent .searchStack .sessionsSelector .buttons .sessionButton {
              font-size: 0.8em;
              display: inline-block;
              padding: 5px;
              background-color: #ddd;
              margin: 5px;
              border-radius: 5px;
              cursor: pointer;
              -moz-transition: all 0.4s;
              -o-transition: all 0.4s;
              -webkit-transition: all 0.4s;
              transition: all 0.4s; }
          .searchBox .searchContent .searchStack .sessionsSelector.false {
            margin-bottom: 40px; }
            .searchBox .searchContent .searchStack .sessionsSelector.false .buttons {
              white-space: normal;
              z-index: 100; }
            .searchBox .searchContent .searchStack .sessionsSelector.false .expandSessions {
              width: 200vw;
              height: 200vh;
              z-index: 10;
              position: absolute;
              left: -50vw;
              top: -100vw; }
          .searchBox .searchContent .searchStack .sessionsSelector.true .expandSessions {
            width: 20%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background: -webkit-linear-gradient(left, rgba(241, 241, 241, 0), #f1f1f1); }
        .searchBox .searchContent .searchStack > a h3 {
          font-size: 1.3em; } }

.profileBox {
  position: absolute;
  left: 100%;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  z-index: -1;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .profileBox .profileHeader {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 1; }
    .profileBox .profileHeader h2 {
      margin-top: 10px;
      margin-bottom: -15px;
      display: inline-block;
      font-size: 5em;
      color: #ec5a62; }
      @media screen and (max-width: 1024px), (max-device-width: 1024px) {
        .profileBox .profileHeader h2 {
          margin-top: 0px;
          font-size: 4em; } }
    .profileBox .profileHeader .info {
      display: inline-block;
      margin-left: 2em;
      color: #919191; }
      .profileBox .profileHeader .info h3 {
        font-family: Open Sans;
        font-size: 1.5em;
        font-weight: 300;
        line-height: 1em; }
      .profileBox .profileHeader .info .riding {
        margin-bottom: -20px; }
      .profileBox .profileHeader .info .party {
        text-transform: uppercase; }
    .profileBox .profileHeader .billSearch form {
      width: 98%;
      position: relative; }
      .profileBox .profileHeader .billSearch form input {
        width: 100%;
        height: 100%;
        width: calc(100% - 8em);
        text-overflow: ellipsis;
        font-size: 2vw;
        font-weight: 300;
        border: none;
        background: transparent;
        color: #ec5a62;
        -webkit-appearance: textfield;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.16);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        .profileBox .profileHeader .billSearch form input:focus {
          outline: none; }
        .profileBox .profileHeader .billSearch form input::-ms-clear {
          /* remove cross in IE */
          display: none; }
        .profileBox .profileHeader .billSearch form input:-ms-input-placeholder {
          color: #999; }
        .profileBox .profileHeader .billSearch form input:-moz-placeholder {
          color: #999; }
        .profileBox .profileHeader .billSearch form input::-moz-placeholder {
          color: #999; }
        .profileBox .profileHeader .billSearch form input::-webkit-input-placeholder {
          color: #999; }
        @media screen and (max-width: 1024px), (max-device-width: 1024px) {
          .profileBox .profileHeader .billSearch form input {
            width: 70%;
            font-size: 1.25em;
            margin-top: 1em; } }
      .profileBox .profileHeader .billSearch form .sessionSelect {
        width: 11em;
        -webkit-transform: translate3d(0px, -50%, 0) scale3d(1, 1, 1);
        transform: translate3d(0px, -50%, 0) scale3d(1, 1, 1);
        position: absolute;
        right: 0;
        top: 50%;
        transform-origin: 50% 50%;
        text-transform: uppercase; }
        .profileBox .profileHeader .billSearch form .sessionSelect .select {
          display: block;
          position: relative;
          top: -5px;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0.75em;
          padding-right: 3em;
          border-radius: 5px;
          background: rgba(118, 117, 128, 0.05);
          font-size: 1em;
          font-weight: 700;
          color: rgba(236, 90, 98, 0.8);
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
          .profileBox .profileHeader .billSearch form .sessionSelect .select::after {
            content: '\25BE';
            right: 1em;
            speak: none;
            position: absolute;
            top: 50%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }
          .profileBox .profileHeader .billSearch form .sessionSelect .select:hover {
            color: rgba(236, 90, 98, 0.8);
            background: rgba(255, 255, 255, 0.5); }
        .profileBox .profileHeader .billSearch form .sessionSelect ul {
          position: absolute;
          overflow: hidden;
          list-style: none;
          margin: 0;
          padding: 0;
          width: inherit;
          border-radius: 5px;
          font-size: 0.75em;
          opacity: 1;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
          .profileBox .profileHeader .billSearch form .sessionSelect ul li {
            background: rgba(200, 200, 200, 0.98);
            display: block;
            position: relative;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0.75em;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.8);
            z-index: 10;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s; }
            .profileBox .profileHeader .billSearch form .sessionSelect ul li .sum {
              color: #919191;
              float: right; }
            .profileBox .profileHeader .billSearch form .sessionSelect ul li:hover {
              background: rgba(255, 255, 255, 0.98); }
        .profileBox .profileHeader .billSearch form .sessionSelect.collapsed .select {
          color: #919191; }
          .profileBox .profileHeader .billSearch form .sessionSelect.collapsed .select::after {
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
        .profileBox .profileHeader .billSearch form .sessionSelect.collapsed ul {
          opacity: 0;
          visibility: hidden; }
  .profileBox .votes .billStack {
    width: 100%; }
    .profileBox .votes .billStack .row {
      background-color: #ccc; }
      .profileBox .votes .billStack .row .main {
        cursor: pointer; }
        .profileBox .votes .billStack .row .main:nth-child(odd):hover {
          background-color: rgba(255, 255, 255, 0.75); }
        .profileBox .votes .billStack .row .main:nth-child(even):hover {
          background-color: rgba(255, 255, 255, 0.1); }
      .profileBox .votes .billStack .row:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.3); }
      .profileBox .votes .billStack .row .col {
        padding: 15px 20px; }
        .profileBox .votes .billStack .row .col.shortname:not(:first-child) {
          font-family: Open Sans; }
        .profileBox .votes .billStack .row .col.number, .profileBox .votes .billStack .row .col.session {
          text-transform: uppercase;
          text-align: center;
          font-weight: 600;
          width: 10%;
          vertical-align: middle; }
          .profileBox .votes .billStack .row .col.number span.label, .profileBox .votes .billStack .row .col.session span.label {
            display: block;
            font-weight: 400;
            font-size: 0.9em;
            color: #666; }
          @media screen and (min-width: 668px) {
            .profileBox .votes .billStack .row .col.number span.mobile-only, .profileBox .votes .billStack .row .col.session span.mobile-only {
              display: none; } }
        .profileBox .votes .billStack .row .col.vote {
          text-transform: uppercase;
          text-align: center;
          padding: 15px 0px;
          font-weight: 800;
          width: 10%;
          display: table-cell;
          vertical-align: middle; }
          .profileBox .votes .billStack .row .col.vote span {
            padding: 5px;
            border-radius: 5px; }
          .profileBox .votes .billStack .row .col.vote span.label {
            padding: 10px;
            display: block;
            font-weight: 400;
            font-size: 0.9em;
            color: #666; }
            @media screen and (min-width: 668px) {
              .profileBox .votes .billStack .row .col.vote span.label.mobile-only {
                display: none; } }
          .profileBox .votes .billStack .row .col.vote.yes span.voteText {
            background-color: rgba(39, 174, 96, 0.8); }
          .profileBox .votes .billStack .row .col.vote.no span.voteText {
            background-color: rgba(192, 57, 43, 0.8); }
          @media screen and (min-width: 668px) {
            .profileBox .votes .billStack .row .col.vote.mobile-only {
              display: none; } }
        .profileBox .votes .billStack .row .col.law {
          text-transform: uppercase;
          text-align: center;
          font-weight: 800;
          width: 15%;
          display: table-cell;
          vertical-align: middle; }
          .profileBox .votes .billStack .row .col.law span {
            padding: 10px;
            border-radius: 5px; }
          .profileBox .votes .billStack .row .col.law span.label {
            display: block;
            font-weight: 400;
            font-size: 0.9em;
            color: #666; }
          @media screen and (min-width: 668px) {
            .profileBox .votes .billStack .row .col.law span.mobile-only {
              display: none; } }
          .profileBox .votes .billStack .row .col.law.failed span {
            background-color: rgba(192, 57, 43, 0.8); }
          .profileBox .votes .billStack .row .col.law.passed span {
            background-color: rgba(39, 174, 96, 0.8); }
        .profileBox .votes .billStack .row .col.dropdown {
          width: 5%;
          vertical-align: middle; }
          .profileBox .votes .billStack .row .col.dropdown span svg {
            width: 1.5em;
            -webkit-transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(90deg);
            transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(90deg);
            fill: #666;
            margin: 0 auto;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            -webkit-transition: all 0.4s;
            transition: all 0.4s; }
        .profileBox .votes .billStack .row .col.spacer {
          width: 5%;
          padding: 0px; }
      .profileBox .votes .billStack .row.current .dropdown span svg {
        -webkit-transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(-90deg);
        transform: translate3d(0em, 0em, 0) scale3d(1, 1, 1) rotate(-90deg); }
      .profileBox .votes .billStack .row .row.info {
        height: 0px;
        display: block;
        overflow: hidden;
        position: relative;
        z-index: 0;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }
        .profileBox .votes .billStack .row .row.info h4 {
          text-align: center; }
        .profileBox .votes .billStack .row .row.info .billInfo {
          width: 80%; }
          .profileBox .votes .billStack .row .row.info .billInfo span {
            font-family: Open Sans;
            font-weight: 400; }
        .profileBox .votes .billStack .row .row.info.current {
          border-top: 1px solid #eee;
          display: table;
          border-bottom: 1px solid #eee;
          height: auto;
          max-height: 10em;
          overflow: hidden;
          background-color: rgba(255, 255, 255, 0.3); }
          .profileBox .votes .billStack .row .row.info.current .sponsor {
            text-align: center; }
            .profileBox .votes .billStack .row .row.info.current .sponsor a {
              width: 100%;
              display: block;
              margin: 0.3em 0;
              cursor: pointer;
              text-decoration: none;
              outline: none; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a h3 {
                font-size: 1.4em;
                display: inline-block;
                font-weight: 600;
                margin: 0 0 0 0;
                color: rgba(0, 0, 0, 0.7);
                font-family: 'Open Sans', sans-serif; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a div {
                background-color: #ddd;
                display: block;
                margin: 0 auto;
                width: 80px;
                height: 80px;
                margin: 0 auto;
                vertical-align: middle;
                background-repeat: no-repeat;
                line-height: 50px;
                border-radius: 50%;
                background-size: cover;
                background-position: center 20%; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a .party {
                display: block;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 600; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a .riding {
                display: block;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.5);
                font-weight: 600; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a.cpc .party {
                color: #0c6aaa; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a.liberal .party {
                color: #d71820; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a.NDP .party {
                color: #f16622; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a.bloc .party {
                color: #083b71; }
              .profileBox .votes .billStack .row .row.info.current .sponsor a.green .party {
                color: #3c9b34; }
          .profileBox .votes .billStack .row .row.info.current .partyVotes {
            border-right: 1px dashed rgba(255, 255, 255, 0.75);
            border-left: 1px dashed rgba(255, 255, 255, 0.75); }
            .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVoteHeader {
              display: table;
              table-layout: fixed;
              width: 100%;
              padding: 1px; }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVoteHeader div {
                display: table-cell; }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVoteHeader .yes {
                font-family: Open Sans;
                width: 20%;
                font-size: 0.6em;
                text-align: center;
                vertical-align: middle;
                font-weight: 600;
                background-color: rgba(39, 174, 96, 0.5); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVoteHeader .no {
                font-family: Open Sans;
                width: 20%;
                font-size: 0.6em;
                text-align: center;
                vertical-align: middle;
                font-weight: 600;
                background-color: rgba(192, 57, 43, 0.5); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVoteHeader .abstain {
                font-family: Open Sans;
                width: 20%;
                font-size: 0.6em;
                text-align: center;
                vertical-align: middle;
                font-weight: 600;
                background-color: rgba(150, 150, 150, 0.5); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVoteHeader .name {
                visibility: hidden; }
            .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote {
              display: table;
              width: 100%;
              padding: 1px; }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote div {
                display: table-cell; }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote .name {
                text-transform: uppercase;
                width: 40%;
                font-weight: 600;
                color: #fff;
                text-align: center;
                padding: 5px; }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.total .name {
                background-color: #333; }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote .yes {
                font-family: Open Sans;
                width: 20%;
                text-align: center;
                font-weight: 600;
                background-color: rgba(39, 174, 96, 0.5); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote .no {
                font-family: Open Sans;
                width: 20%;
                text-align: center;
                font-weight: 600;
                background-color: rgba(192, 57, 43, 0.5); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote .abstain {
                font-family: Open Sans;
                width: 20%;
                text-align: center;
                font-weight: 600;
                background-color: rgba(150, 150, 150, 0.5); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.yes .name {
                background-color: rgba(39, 174, 96, 0.8); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.no .name {
                background-color: rgba(192, 57, 43, 0.8); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.abstain .name {
                background-color: rgba(150, 150, 150, 0.8); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.tie .name {
                background: repeating-linear-gradient(45deg, #333, #333 10px, #999 10px, #999 20px); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.tie.yn .name {
                background: repeating-linear-gradient(45deg, rgba(39, 174, 96, 0.8), rgba(39, 174, 96, 0.8) 10px, rgba(192, 57, 43, 0.5) 10px, rgba(192, 57, 43, 0.5) 20px); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.tie.ya .name {
                background: repeating-linear-gradient(45deg, rgba(39, 174, 96, 0.8), rgba(39, 174, 96, 0.8) 10px, rgba(150, 150, 150, 0.8) 10px, rgba(150, 150, 150, 0.8) 20px); }
              .profileBox .votes .billStack .row .row.info.current .partyVotes .partyVotesTable .partyVote.tie.na .name {
                background: repeating-linear-gradient(45deg, rgba(192, 57, 43, 0.5), rgba(192, 57, 43, 0.5) 10px, rgba(150, 150, 150, 0.8) 10px, rgba(150, 150, 150, 0.8) 20px); }
          .profileBox .votes .billStack .row .row.info.current .moreBillInfo {
            border-right: 1px dashed rgba(255, 255, 255, 0.75); }
            .profileBox .votes .billStack .row .row.info.current .moreBillInfo a {
              display: block;
              position: relative;
              text-decoration: none;
              padding: 10px;
              border-radius: 5px;
              margin: 5px;
              background-color: #ccc;
              font-weight: 700;
              color: #666; }
              .profileBox .votes .billStack .row .row.info.current .moreBillInfo a span {
                display: inline-block;
                width: 95%; }
              .profileBox .votes .billStack .row .row.info.current .moreBillInfo a svg {
                width: 1em;
                position: absolute;
                right: 0.5em;
                top: 50%;
                -webkit-transform: translate3d(0em, -50%, 0) scale3d(1, 1, 1);
                transform: translate3d(0em, -50%, 0) scale3d(1, 1, 1);
                fill: #fff;
                margin: 0 auto;
                -moz-transition: all 0.4s;
                -o-transition: all 0.4s;
                -webkit-transition: all 0.4s;
                transition: all 0.4s; }
          .profileBox .votes .billStack .row .row.info.current .sponsor {
            border-left: 1px dashed rgba(255, 255, 255, 0.75); }
        @media screen and (max-width: 668px), (max-device-width: 668px) {
          .profileBox .votes .billStack .row .row.info {
            width: 100%;
            padding-right: 2%; }
            .profileBox .votes .billStack .row .row.info .col {
              display: block; } }
      .profileBox .votes .billStack .row.empty span {
        visibility: hidden; }
      .profileBox .votes .billStack .row.noresults .row {
        font-family: Open Sans;
        text-align: center; }
      .profileBox .votes .billStack .row.header .col {
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        color: #fff;
        background-color: #333; }
  .profileBox .close {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    right: 2em;
    top: 1em;
    background: transparent url(../images/close.svg) no-repeat center center;
    opacity: 0.7;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .profileBox .close:hover {
      opacity: 1; }
    @media screen and (max-width: 1024px), (max-device-width: 1024px) {
      .profileBox .close {
        display: none; } }
  .profileBox a.return {
    display: none;
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    text-align: center;
    background-color: rgba(175, 175, 175, 0.75);
    cursor: pointer;
    text-decoration: none;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    .profileBox a.return .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      background: transparent url(../images/magnifier.svg) no-repeat center center;
      transform-origin: 50% 50%;
      -webkit-transform: translate3d(-0.2em, 0.2em, 0) scale3d(1, 1, 1);
      transform: translate3d(-0.2em, 0.2em, 0) scale3d(1, 1, 1); }
    .profileBox a.return span {
      color: #ddd;
      font-size: 0.9em;
      line-height: 1em;
      font-weight: 600;
      font-family: Open Sans;
      text-transform: uppercase; }
    .profileBox a.return:hover {
      background-color: rgba(100, 100, 100, 0.75); }
    @media screen and (max-width: 1024px), (max-device-width: 1024px) {
      .profileBox a.return {
        display: initial; } }
  .profileBox.profile {
    left: 0%;
    margin-left: 380px;
    padding-right: 380px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    @media screen and (max-width: 1024px), (max-device-width: 1024px) {
      .profileBox.profile {
        margin-left: 0px;
        padding-right: 0px; } }
  .profileBox.search {
    overflow: hidden; }
  .profileBox.info {
    overflow: hidden; }
  @media screen and (max-width: 1280px), (max-device-width: 1280px) {
    .profileBox .votes .billStack .row .col {
      padding: 15px; }
      .profileBox .votes .billStack .row .col.session {
        width: 15%; }
      .profileBox .votes .billStack .row .col.number {
        width: 15%; }
      .profileBox .votes .billStack .row .col.vote {
        width: 15%; }
      .profileBox .votes .billStack .row .col.spacer.left {
        display: none; }
    .profileBox .votes .billStack .row .info .col.spacer {
      display: none; } }
  @media screen and (max-width: 1024px), (max-device-width: 1024px) {
    .profileBox .billSearch form input {
      width: 100%;
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 1em; } }
  @media screen and (max-width: 668px), (max-device-width: 668px) {
    .profileBox.profile {
      margin-left: 0px;
      padding-right: 0px; }
    .profileBox .profileHeader h2 {
      padding-top: 0.5em;
      font-size: 2em; }
    .profileBox .profileHeader .info {
      margin-left: 0em;
      width: 100%; }
      .profileBox .profileHeader .info h3 {
        font-family: Open Sans;
        font-size: 1em;
        font-weight: 300; }
      .profileBox .profileHeader .info .riding {
        margin-bottom: -10px;
        float: left; }
      .profileBox .profileHeader .info .party {
        float: right; }
    .profileBox .profileHeader .billSearch form {
      width: 98%;
      position: relative;
      border-bottom: none; }
      .profileBox .profileHeader .billSearch form input {
        width: 100%;
        font-size: 1em;
        font-weight: 600;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.16);
        margin-bottom: 1em; }
      .profileBox .profileHeader .billSearch form .sessionSelect {
        width: 100%;
        -webkit-transform: translate3d(0px, 0%, 0) scale3d(1, 1, 1);
        transform: translate3d(0px, 0%, 0) scale3d(1, 1, 1);
        position: relative;
        right: 0;
        top: 0;
        transform-origin: 0% 0%; }
        .profileBox .profileHeader .billSearch form .sessionSelect .select {
          top: 0px;
          padding: 1em;
          background: transparent;
          font-size: 0.8em; }
    .profileBox .votes .billStack {
      width: 100%; }
      .profileBox .votes .billStack .row {
        display: block;
        border-top: 1px solid #eee;
        position: relative; }
        .profileBox .votes .billStack .row .col {
          padding: 15px; }
          .profileBox .votes .billStack .row .col.number {
            width: 50%;
            display: inline-block;
            border-left: 1px dashed rgba(255, 255, 255, 0.3); }
          .profileBox .votes .billStack .row .col.session {
            width: 50%;
            display: inline-block; }
          .profileBox .votes .billStack .row .col.vote {
            width: 50%;
            display: inline-block; }
            .profileBox .votes .billStack .row .col.vote.full-layout {
              display: none; }
          .profileBox .votes .billStack .row .col.law {
            width: 50%;
            display: inline-block;
            border-left: 1px dashed rgba(255, 255, 255, 0.3); }
          .profileBox .votes .billStack .row .col.shortname {
            text-align: center;
            display: block;
            border-top: 1px dashed rgba(255, 255, 255, 0.3);
            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            font-size: 0.9em; }
          .profileBox .votes .billStack .row .col.dropdown {
            text-align: center;
            border-top: 1px dashed rgba(255, 255, 255, 0.3);
            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
            font-size: 0.9em; }
          .profileBox .votes .billStack .row .col.spacer {
            display: none; }
        .profileBox .votes .billStack .row .info {
          display: none; }
        .profileBox .votes .billStack .row.header {
          display: none; } }

.infoBox {
  position: absolute;
  z-index: 11;
  left: -100%;
  top: 0;
  width: 100vw;
  height: 100%;
  background-color: #ec5a62;
  opacity: 1;
  overflow: hidden;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .infoBox.info {
    left: 0;
    top: 0;
    opacity: 1;
    z-index: 20;
    overflow-y: scroll;
    visibility: visible; }
  .infoBox .closeContainer {
    position: absolute;
    width: 100%; }
    .infoBox .closeContainer a {
      display: inline-block;
      width: 2em;
      float: right;
      height: 2em;
      background: transparent url(../images/back.svg) no-repeat center center;
      transform-origin: 50% 50%;
      -webkit-transform: translate3d(-1.25em, 1em, 0) scale3d(1, 1, 1);
      transform: translate3d(-1.25em, 1em, 0) scale3d(1, 1, 1);
      opacity: 0.7;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .infoBox .closeContainer a.hover {
        opacity: 1; }
  .infoBox .infoText {
    display: block;
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    max-width: 60em;
    color: #fff;
    font-family: Open Sans;
    padding: 20px; }
    .infoBox .infoText h2 {
      margin-top: 1em;
      color: #fff;
      font-size: 4em; }
      @media screen and (max-width: 668px), (max-device-width: 668px) {
        .infoBox .infoText h2 {
          font-size: 3em; } }
    .infoBox .infoText p {
      line-height: 1.5em; }
    .infoBox .infoText a {
      font-weight: 700;
      color: #fff; }
    .infoBox .infoText .creditWhereCreditsDue {
      display: block;
      min-width: 10%;
      margin: 0 auto;
      text-align: center; }
      .infoBox .infoText .creditWhereCreditsDue span {
        color: #ffdcdc; }
    .infoBox .infoText .githubLink {
      padding-top: 1em;
      display: block;
      min-width: 10%;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 1em; }

.row {
  width: 100%;
  display: table;
  table-layout: fixed; }

.col {
  display: table-cell; }
