$primary-color: #ec5a62;
$transition-duration: 0.4s;
$tablet-breakpoint: 736px;
$mobile-breakpoint: 480px;

@mixin tablet-breakpoint {
    @media screen and (max-width:  #{$tablet-breakpoint}), (max-device-width :  #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin mobile-breakpoint {
    @media screen and (max-width:  #{$mobile-breakpoint}), (max-device-width :  #{$mobile-breakpoint}) {
        @content;
    }
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration {
    -moz-transition:    all $transition-duration;
    -o-transition:      all $transition-duration;
    -webkit-transition: all $transition-duration;
    transition:         all $transition-duration;
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
@mixin placeholder {
    &:-ms-input-placeholder{ @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

*, *:after, *:before { @include box-sizing(border-box); }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

body {
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #ccc;
    z-index: -1;
}

.searchBox {
    width: 100%;
    min-height: 100%;
    background: #f1f1f1;
    position: absolute;
    top: 0px;
    left: 0px;
    @include transition-property(width);
    @include transition-duration;
    form {
        width: 80%;
        height: 160px;
        margin: 0 auto;
        position: relative;
        -webkit-transform: translate3d(0,3em,0);
        transform: translate3d(0,3em,0);
        @include transition-duration;
        @include tablet-breakpoint {
            width: 90%;
            height: 10vw;
        }
        button {
            color: #f1f1f1;
            pointer-events: auto;
            opacity: 1;
            -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
            transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
            position: absolute;
            width: 7vw;
            height: 7vw;
            text-indent: 100px;
            overflow: hidden;
            right: 0;
            top: 50%;
            background: transparent url(../images/magnifier.svg) no-repeat center center;
            background-size: 100%;
            border: none;
            transform-origin: 50% 50%;
            -webkit-appearance: button;
            cursor: pointer;
            text-transform: none;
            @include box-sizing(border-box);
            @include transition-property(width, height);
            @include transition-duration;
        }
    }
    input {
        width: 100%;
        height: 100%;
        padding: 0 10% 0 10px;
        font-size: 7vw;
        font-weight: 700;
        border: none;
        background: transparent;
        color: $primary-color;
        -webkit-appearance: textfield;
        &:focus {
            outline: none;
        }
        &::-ms-clear { /* remove cross in IE */
            display: none;
        }
        @include box-sizing(border-box);
        @include transition-property(font-size);
        @include transition-duration;
        @include placeholder {
            color: #c2c2c2;
        }
    }
    .searchContent {
        opacity: 1;
        height: auto;
        pointer-events: auto;
        color: #333;
        margin-top: 4.5em;
        width: 100%;
        padding: 0 10.5%;
        background: #f1f1f1;
        position: absolute;
        @include tablet-breakpoint {
            padding: 0 5px;
        }
        .searchStack {
            width: 50vw;
            min-width: 320px;
            padding: 0 0 6em;
            margin: 0 auto;
            @include transition-property(width);
            @include transition-duration;
            @include tablet-breakpoint {
                width: 90vw;
            }
            h2 {
                font-size: 2em;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 700;
                color: #c2c2c2;
                padding: 0.5em 0;
                @include transition-duration;
                @include tablet-breakpoint {
                    font-size: 2em;
                    padding: 0;
                }
                @include mobile-breakpoint {
                    font-size: 1.5em;
                }
            }
            a {
                position: relative;
                width: 100%;
                height: 80px;
                padding: 0.75em;
                display: block;
                margin: 0.3em 0;
                cursor: pointer;
                border-radius: 5px;
                background: rgba(118,117,128,0.05);
                outline: none;
                h3 {
                    vertical-align: middle;
                    font-size: 1.4em;
                    display: inline-block;
                    font-weight: 600;
                    margin: 0 0 0 0;
                    color: rgba(145,145,145,0.7);
                    font-family: 'Open Sans', sans-serif;
                    @include transition-duration;
                    @include tablet-breakpoint {
                        font-size: 1.3em;
                    }
                }
                div {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    margin: 0 10px 0 0;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    line-height: 50px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center 20%;
                }
                span.party {
                    position: absolute;
                    right: 0.5em;
                    top: 0.5em;
                    text-transform: uppercase;
                    color: rgba(0,0,0,0.2);
                    font-weight: 700;
                }
                &:hover {
                    h3 {
                        color: rgba($primary-color,1);
                    }
                    span {
                        color: rgba(0,0,0,0.2);
                    }
                }
                &:hover, &:focus {
                    background: rgba(118,117,128,0.1);
                }
                &.active {
                    background: rgba(118,117,128,0);
                    margin-top: 0px;
                    margin-bottom: 0px;
                    -ms-transform: translate(0px,0px); /* IE 9 */
                    -webkit-transform: translate(0px,0px); /* Safari */
                    transform: translate(0px,0px);
                    @include transition-duration;
                    h3 {
                        color: rgba($primary-color,0.9);
                    }
                    span {
                        color: rgba(0,0,0,0.2);
                    }
                }
                &.cpc {
                    &.hover, &.active {
                        span {
                            color: rgba(12,106,170,0.5);
                        }
                    }
                }
                &.liberal {
                    &.hover, &.active {
                        span {
                            color: rgba(215, 24, 32, 0.5);
                        }
                    }
                }
                &.NDP {
                    &.hover, &.active {
                        span {
                            color: rgba(241, 102, 34, 0.5);
                        }
                    }
                }
                &.bloc {
                    &.hover, &.active {
                        span {
                            color: rgba(8, 59, 113, 0.5);
                        }
                    }
                }
                &.green {
                    &.hover, &.active {
                        span {
                            color: rgba(60, 155, 52, 0.5);
                        }
                    }
                }
                @include transition-duration;
            }
        }
    }
    &.sidebar{
        width: 380px;
        min-height: 100%;
        form {
            width: 90%;
            height: 40px;
            margin: 0 auto;
            button {
                width: 30px;
                height: 30px;
                text-indent: 100px;
            }
        }
        input {
            font-size: 2em;
        }
        @include tablet-breakpoint {
            left: -380px;
        }
        .searchContent {
            .searchStack {
                width: 100%;
                h2 {
                    font-size: 1.4em;
                    padding: 0;
                    @include transition-duration;
                }
            } 
        }
    }
}

.profileBox {
    position: absolute;
    left: 100%;
    display: block;
    width: calc(100% - 380px);
    height: 100vh;
    overflow-y: scroll;
    background-color:#ccc;
    z-index: -1;
    @include transition-duration;
    h2 {
        margin-top: 10px;
        font-size: 6em;
        color: $primary-color;
        @include tablet-breakpoint {
            margin-top: 0px;
            font-size: 4em;
        }
    }
    .profile {
        padding: 40px;
    }
    .billStack {
        tr {
            &:nth-child(odd) {
                background-color: rgba(255, 255, 255, 0.3);
            }
            th {
                color: #fff;
                background-color: #333;
                padding: 20px;
            }
            td {
                padding: 20px;
                @mixin bill-fonts {
                    text-transform: uppercase;
                    font-weight: 800;
                    text-align: center;
                }
                &.vote {
                    @include bill-fonts;
                    background-color: rgba(117, 117, 117, 0.8);
                    &.yes {
                        background-color: rgba(39, 174, 96, 0.8);
                    }
                    &.no {
                        background-color: rgba(192, 57, 43, 0.8);
                    }
                }
                &.law {
                    @include bill-fonts;
                    background-color: rgba(230, 126, 33, 0.8);
                    &.passed {
                        background-color: rgba(40, 127, 185, 0.8);
                    }
                }
            }
        }
    }
    .close {
        display: block;
        width: 36px;
        height: 36px;
        position: absolute;
        right: 1em;
        top: 1em;
        text-indent: 100%;
        box-sizing: border-box;
        z-index: 20;
        @include transition-property(opacity);
        @include transition-duration;
        &::before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &::after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &::before, &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            top: 0;
            left: 50%;
            border-radius: 3px;
            opacity: 0.2;
            background: #000;
        }
        &:hover {
            &::before, &::after {
                opacity: 1;
            }
        }
    }
    &.show {
        left: 380px;
        @include transition-duration;
        @include tablet-breakpoint {
            position: absolute;
            left: 0px;
            display: block;
            width: 100%;
            height: 100%;
            background-color:#ccc;
            z-index: -1;
        }
        .close {
            opacity: 1;
        }
    }
    &.hide {
        .close {
            opacity: 0;
        }
    }
}

@media screen and (max-width: 800px), (max-device-width : 736px)  {
    .searchContent {
        padding: 0 5px;
    }
    .searchContent .searchStack {
        width: 90vw;
    }
    .searchContent .searchStack h3 {
    font-size: 1.3em;
    }
    .searchContent .searchStack h2 {
        font-size: 2em;
        padding: 0;
    }
    .searchBox form {
        width: 90%;
        height: 10vw;
    }
    .searchBox.sidebar {
        left: -380px;
        @include transition-duration;
    }
    .profileBox.show {
        position: absolute;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
        background-color:#ccc;
        z-index: -1;
        @include transition-duration;
    }
    .profileBox h2 {
        margin-top: 0px;
        font-size: 4em;
        color: $primary-color;
    }
}
@media screen and (max-width: 480px), (max-device-width : 480px) {
    .searchContent .searchStack h2 {
        font-size: 1.5em;
    }
}
