@import "normalize";

$primary-color: #ec5a62;
$transition-duration: 0.4s;
$medium-breakpoint: 1280px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 640px;

@mixin full-layout {
    @media screen and (min-width:  #{$mobile-breakpoint}){
        @content;
    }
}

@mixin medium-breakpoint {
    @media screen and (max-width:  #{$medium-breakpoint}), (max-device-width :  #{$medium-breakpoint}) {
        @content;
    }
}

@mixin tablet-breakpoint {
    @media screen and (max-width:  #{$tablet-breakpoint}), (max-device-width :  #{$tablet-breakpoint}) {
        @content;
    }
}

@mixin mobile-breakpoint {
    @media screen and (max-width:  #{$mobile-breakpoint}), (max-device-width :  #{$mobile-breakpoint}) {
        @content;
    }
}

@mixin mobile-only {
    &.mobile-only {
        @include full-layout {
            display: none;
        }
    }
}

@mixin full-only {
    &.full-layout {
        @include mobile-breakpoint {
            display:none;
        }
    }
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration {
    -moz-transition:    all $transition-duration;
    -o-transition:      all $transition-duration;
    -webkit-transition: all $transition-duration;
    transition:         all $transition-duration;
}
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
@mixin placeholder {
    &:-ms-input-placeholder{ @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

*, *:after, *:before { @include box-sizing(border-box); }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}

body {
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #ccc;
    z-index: -1;
}

.searchBox-noscroll {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    @include transition-property(width);
    @include transition-duration;
    &.profile {
        width: 380px;
    }
    @include tablet-breakpoint {
        &.profile {
            left: -400px;
        }
    }
    @include mobile-breakpoint {
        &.profile {
            left: -400px;
        }
    }
}
.searchBox {
    width: 100%;
    background: #f1f1f1;
    position: fixed;
    height:100vh;
    overflow-y:auto;
    top: 0px;
    left: 0px;
    @include transition-property(width);
    @include transition-duration;
    form {
        width: 80%;
        height: 160px;
        margin: 0 auto;
        position: relative;
        -webkit-transform: translate3d(0,3em,0);
        transform: translate3d(0,3em,0);
        @include transition-duration;
        @include tablet-breakpoint {
            width: 90%;
            height: 10vw;
        }
        button {
            color: #f1f1f1;
            pointer-events: auto;
            opacity: 1;
            -webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
            transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
            position: absolute;
            width: 7vw;
            height: 7vw;
            text-indent: 100px;
            overflow: hidden;
            right: 0;
            top: 50%;
            background: transparent url(../images/magnifier.svg) no-repeat center center;
            background-size: 100%;
            border: none;
            transform-origin: 50% 50%;
            -webkit-appearance: button;
            cursor: pointer;
            text-transform: none;
            @include box-sizing(border-box);
            @include transition-property(width, height);
            @include transition-duration;
        }
        input {
            width: 100%;
            height: 100%;
            padding: 0 10% 0 10px;
            font-size: 7vw;
            font-weight: 700;
            border: none;
            background: transparent;
            color: $primary-color;
            -webkit-appearance: textfield;
            &:focus {
                outline: none;
            }
            &::-ms-clear { /* remove cross in IE */
                display: none;
            }
            @include box-sizing(border-box);
            @include transition-property(font-size);
            @include transition-duration;
            @include placeholder {
                color: #c2c2c2;
            }
        }
    }
    
    .searchContent {
        opacity: 1;
        height: auto;
        pointer-events: auto;
        color: #333;
        margin-top: 4.5em;
        width: 100%;
        padding: 0 10.5%;
        background: #f1f1f1;
        position: absolute;
        @include tablet-breakpoint {
            padding: 0 5px;
        }
        .searchStack {
            width: 50vw;
            min-width: 320px;
            padding: 0 0 6em;
            margin: 0 auto;
            @include transition-property(width);
            @include transition-duration;
            @include tablet-breakpoint {
                width: 90vw;
            }
            h2 {
                font-size: 2em;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 700;
                color: #c2c2c2;
                padding: 0.5em 0;
                @include transition-duration;
                @include tablet-breakpoint {
                    font-size: 2em;
                    padding: 0;
                }
            }
            a {
                position: relative;
                width: 100%;
                height: 80px;
                padding: 0.75em;
                display: block;
                margin: 0.3em 0;
                cursor: pointer;
                border-radius: 5px;
                background: rgba(118,117,128,0.05);
                outline: none;
                h3 {
                    vertical-align: middle;
                    font-size: 1.4em;
                    display: inline-block;
                    font-weight: 600;
                    margin: 0 0 0 0;
                    color: rgba(145,145,145,0.7);
                    font-family: 'Open Sans', sans-serif;
                    @include transition-duration;
                    @include tablet-breakpoint {
                        font-size: 1.3em;
                    }
                }
                div {
                    background-color: #ddd;
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    margin: 0 10px 0 0;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    line-height: 50px;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center 20%;
                }
                span.party {
                    position: absolute;
                    right: 0.5em;
                    top: 0.5em;
                    text-transform: uppercase;
                    color: rgba(0,0,0,0.2);
                    font-weight: 700;
                }
                &:hover {
                    h3 {
                        color: rgba($primary-color,1);
                    }
                    span {
                        color: rgba(0,0,0,0.2);
                    }
                }
                &:hover, &:focus {
                    background: rgba(118,117,128,0.1);
                }
                &.active {
                    background: rgba(118,117,128,0);
                    margin-top: 0px;
                    margin-bottom: 0px;
                    -ms-transform: translate(0px,0px); /* IE 9 */
                    -webkit-transform: translate(0px,0px); /* Safari */
                    transform: translate(0px,0px);
                    @include transition-duration;
                    h3 {
                        color: rgba($primary-color,0.9);
                    }
                    span {
                        color: rgba(0,0,0,0.2);
                    }
                }
                &.cpc {
                    &.hover, &.active {
                        span {
                            color: rgba(12,106,170,0.5);
                        }
                    }
                }
                &.liberal {
                    &.hover, &.active {
                        span {
                            color: rgba(215, 24, 32, 0.5);
                        }
                    }
                }
                &.NDP {
                    &.hover, &.active {
                        span {
                            color: rgba(241, 102, 34, 0.5);
                        }
                    }
                }
                &.bloc {
                    &.hover, &.active {
                        span {
                            color: rgba(8, 59, 113, 0.5);
                        }
                    }
                }
                &.green {
                    &.hover, &.active {
                        span {
                            color: rgba(60, 155, 52, 0.5);
                        }
                    }
                }
                &.placeholder {
                    h3 {
                        background-color: rgba(145, 145, 145, 0.10);
                        color: rgba(118, 117, 128, 0.0); 
                    }
                    span.party {
                      background-color: rgba(145, 145, 145, 0.10);
                      color: rgba(118, 117, 128, 0.0); 
                  }
                }
                @include transition-duration;
            }
        }
    }
    &.profile{
        width: 400px;
        form {
            width: 90%;
            height: 40px;
            margin: 0 auto;
            button {
                width: 30px;
                height: 30px;
                text-indent: 100px;
            }
        }
        input {
            font-size: 2em;
        }
        .searchContent {
            .searchStack {
                width: 100%;
                h2 {
                    font-size: 1.4em;
                    padding: 0;
                    @include transition-duration;
                }
            } 
        }
        &::-webkit-scrollbar {
            display:none;
        }
    }
    @include tablet-breakpoint {
        &.profile {
            left: -400px;
        }
        .searchContent {
            padding: 0px;
            .searchStack {
                width: 90vw;
                h2 {
                    font-size: 1em;
                    text-align: center;
                    padding: 0;
                }
                a {
                    h3 {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
    @include mobile-breakpoint {
        &.profile {
            left: -400px;
        }
        .searchContent {
            padding: 0px;
            .searchStack {
                width: 90vw;
                h2 {
                    font-size: 1em;
                    text-align: center;
                    padding: 0;
                }
                a {
                    h3 {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }

}

.profileBox {
    position: absolute;
    left: 100%;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    z-index: -1;
    @include transition-duration;
    .profileHeader {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        z-index: 1;
        h2 {
            margin-top: 10px;
            margin-bottom: -15px;
            display: inline-block;
            font-size: 5em;
            color: $primary-color;
            @include tablet-breakpoint {
                margin-top: 0px;
                font-size: 4em;
            }
        }
        .info {
            display: inline-block;
            margin-left: 2em;
            color: rgba(145, 145, 145, 1);
            h3 {
                font-family: Open Sans;
                font-size: 1.5em;
                font-weight: 100;
                line-height: 1em;
            }
            .riding {
                margin-bottom: -20px;
            }
            .party {
                text-transform: uppercase;
            }
        }
        .billSearch {
            form {
                width: 98%;
                position: relative;
                input {
                    width: 100%;
                    height: 100%;
                    width: calc(100% - 8em);
                    text-overflow: ellipsis;
                    font-size: 2vw;
                    font-weight: 200;
                    border: none;
                    background: transparent;
                    color: $primary-color;
                    -webkit-appearance: textfield;
                    border-bottom: 1px dashed rgba(0, 0, 0, 0.16);
                    &:focus {
                        outline: none;
                    }
                    &::-ms-clear { /* remove cross in IE */
                        display: none;
                    }
                    @include box-sizing(border-box);
                    @include placeholder {
                        color: #999;
                    }
                    @include tablet-breakpoint {
                        width: 70%;
                        font-size: 1.25em;
                        margin-top: 1em;
                    }
                }
                .sessionSelect {
                    width: 11em;
                    -webkit-transform: translate3d(0px, -50%, 0) scale3d(1, 1, 1);
                    transform: translate3d(0px, -50%, 0) scale3d(1, 1, 1);
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform-origin: 50% 50%;
                    text-transform: uppercase;
                    .select {
                        display: block;
                        position: relative;
                        top:-5px;
                        cursor: pointer;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;    
                        padding: 0.75em;
                        padding-right: 3em;
                        border-radius: 5px;
                        background: rgba(118, 117, 128, 0.05);
                        font-size: 1em;
                        font-weight: 700;
                        color: rgba(236, 90, 98, 0.8);
                        @include transition-duration;
                        &::after {
                            content: '\25BE';
                            right: 1em;
                            speak: none;
                            position: absolute;
                            top: 50%;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-transform: translateY(-50%) rotate(180deg);
                            transform: translateY(-50%) rotate(180deg);
                        }
                        &:hover {
                            color: rgba(236, 90, 98, 0.8);
                            background: rgba(255, 255, 255, 0.5);
                        }
                    }
                    ul {
                        position: absolute;
                        overflow: hidden;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        width: inherit;
                        border-radius: 5px;
                        font-size: 0.75em;
                        opacity: 1;
                        @include transition-duration;
                        li {
                            background: rgba(200, 200, 200, 0.98);
                            display: block;
                            position: relative;
                            cursor: pointer;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;    
                            padding: 0.75em;
                            text-transform: uppercase;
                            font-size: 1.2em;
                            font-weight: 700;
                            color: rgba(0, 0, 0, 0.8);
                            z-index: 10;
                            @include transition-duration;

                            .sum {
                                color: #919191;
                                float: right;
                            }
                            &:hover {
                                background: rgba(255, 255, 255, 0.98);
                            }
                        }
                    }
                    &.collapsed {
                        .select {
                            color: rgba(145, 145, 145, 1);
                            &::after {
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                        }
                        ul {
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
    .votes {
        .billStack {
            width: 100%;
            .row {
                @mixin bill-fonts {
                    text-transform: uppercase;
                    font-weight: 800;
                    text-align: center;
                }
                background-color: #ccc;
                &:nth-child(odd) {
                    background-color: rgba(255, 255, 255, 0.3);
                }

                .col {
                    cursor: pointer;
                    padding: 20px;
                    &.shortname {
                        &:not(:first-child) {
                            font-family: Open Sans;
                        }
                    }
                    &.number, &.session {
                        @include bill-fonts;
                        width: 10%;
                        span {
                            &.label {
                                display: block;
                                font-weight: 400;
                                font-size: 0.9em;
                                color: #666;
                            }
                            @include mobile-only;
                        }
                    }
                    &.vote {
                        @include bill-fonts;
                        width: 10%;
                        background-color: rgba(0, 0, 0, 0.05);
                        &.yes {
                            background-color: rgba(39, 174, 96, 0.8);
                        }
                        &.no {
                            background-color: rgba(192, 57, 43, 0.8);
                        }
                        @include mobile-only;
                        display: table-cell;
                        vertical-align: middle;

                    }
                    &.law {
                        @include bill-fonts;
                        width: 15%;
                        background-color: rgba(0, 0, 0, 0.05);  
                        &.failed {
                            background-color: rgba(230, 126, 33, 0.8);
                        }
                        &.passed {
                            background-color: rgba(40, 127, 185, 0.8);
                        }
                        display: table-cell;
                        vertical-align: middle;
                    }
                    &.spacer {
                        width: 5%;
                        padding: 0px;
                    }
                }
                .row {
                    &:hover {
                        background-color: rgba(236, 90, 98, 0.3) !important;
                    }
                     &.info {
                        height: 0px;
                        overflow: hidden;
                        display: block;
                        position: relative;
                        z-index: 0;
                        @include transition-duration;
                        .billInfo {
                            width: 80%;
                            span {
                                font-family: Open Sans;
                                font-weight: normal;
                            }
                        }
                        &.current {
                            display: table;
                            border-top: 1px solid #eee;
                            border-bottom: 1px solid #eee;
                            max-height: 10em;
                            overflow: hidden;
                            background-color: rgba(255, 255, 255, 0.3);
                        }
                    }
                }
                &.empty {
                    span {
                        visibility: hidden;
                    }
                }
                &.noresults {
                    .row {
                        font-family:Open Sans;
                        text-align: center;
                    }
                }
                &.header {
                    .col {
                        @include bill-fonts;
                        color: #fff;
                        background-color: #333;
                    }
                }
               
            }
        }
        .no-results {
            display: block;
            position: relative;
            width: auto;
            text-align: center;
            font-size: 3em;
            font-weight: 600;
            vertical-align: bottom;
        }
    }
    .close {
        display: block;
        width: 36px;
        height: 36px;
        position: absolute;
        right: 1em;
        top: 1em;
        text-indent: 100%;
        box-sizing: border-box;
        z-index: 20;
        @include transition-property(opacity);
        @include transition-duration;
        &::before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &::after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        &::before, &::after {
            content: '';
            position: absolute;
            width: 2px;
            height: 100%;
            top: 0;
            left: 50%;
            border-radius: 3px;
            opacity: 0.2;
            background: #000;
        }
        &:hover {
            &::before, &::after {
                opacity: 1;
            }
        }
        @include tablet-breakpoint {
            display: none;
        }
    }
    a.return {
        display: none;
        position: fixed;
        top: 0em;
        left: 0em;
        width: 100%;
        padding-top: 0.1em;
        padding-bottom: 0.2em;
        text-align: center;
        background-color: rgba(175, 175, 175, 0.75);
        cursor: pointer;
        text-decoration: none;
        @include transition-duration;
        .icon {
            display: inline-block;
            width: 1em;
            height: 1em;
            background: transparent url(../images/magnifier.svg) no-repeat center center;
            transform-origin: 50% 50%;
            -webkit-transform: translate3d(-0.2em, 0.2em, 0) scale3d(1, 1, 1);
            transform: translate3d(-0.2em, 0.2em, 0) scale3d(1, 1, 1);
        }
        span {
            color: #ddd;
            font-size: 0.9em;
            line-height: 1em;
            font-weight: 600;
            font-family: Open Sans;
            text-transform: uppercase
        }
        &:hover {
            background-color: rgba(100, 100, 100, 0.75);
        }
        @include tablet-breakpoint {
            display: initial;
        }
    }
    &.profile {
        left: 0%;
        margin-left: 380px;
        padding-right: 380px;
        @include transition-duration;
        @include tablet-breakpoint {
            margin-left: 0px;
            padding-right: 0px;
        }
        .close {
            opacity: 1;
        }
    }
    &.search {
        overflow: hidden;
        .close {
            opacity: 0;
        }
    }
    @include medium-breakpoint {
        .votes {
            .billStack {
                .row {
                    .col {
                        padding: 15px;
                        &.session {
                            width: 15%;
                        }
                        &.number {
                            width: 15%;
                        }
                        &.vote {
                            width: 15%;
                        }
                        &.spacer.left {
                            display:none;
                        }
                    }
                }
            }
        }
    }
    @include tablet-breakpoint {
        .billSearch {
            form {
                input {
                    width: 100%;
                    font-size: 1em;
                    font-weight: 600;
                    margin-bottom: 1em;
                }
            }
        }
    }
    @include mobile-breakpoint {
        &.profile {
            margin-left: 0px;
            padding-right: 0px;
        }
        .profileHeader {
            h2 {
                padding-top: 0.5em;
                font-size: 2em;
            }
            .info {
                margin-left: 0em;
                width: 100%;
                h3 {
                    font-family: Open Sans;
                    font-size: 1em;
                    font-weight: 100;
                }
                .riding {
                    margin-bottom: -10px;
                    float: left;
                }
                .party {
                    float: right;
                }
            }
            .billSearch {
                form {
                    width: 98%;
                    position: relative;
                    border-bottom: none;
                    input {
                        width: 100%;
                        font-size: 1em;
                        font-weight: 600;
                        border-bottom: 1px dashed rgba(0, 0, 0, 0.16); 
                        margin-bottom: 1em;
                    }
                    .sessionSelect {
                        width: 100%;
                        -webkit-transform: translate3d(0px, 0%, 0) scale3d(1, 1, 1);
                        transform: translate3d(0px, 0%, 0) scale3d(1, 1, 1);
                        position: relative;
                        right: 0;
                        top: 0;
                        transform-origin: 0% 0%;
                        .select {
                            top: 0px;
                            padding: 1em;
                            background: transparent;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
        .votes {
            .billStack {
                width: 100%;
                .row {
                    display: block;
                    border-top: 1px solid #eee;
                    position: relative;
                    .col {
                        padding: 15px;
                        &.number {
                            width: 50%;
                            display: inline-block;
                            border-left: 1px dashed rgba(255, 255, 255, 0.3);
                        }
                        &.session {
                            width: 50%;
                            display: inline-block;
                        }
                        &.vote {
                            width: 50%;
                            display: inline-block;
                            &.full-layout {
                                display: none;
                            }
                        }
                        &.law {
                            width: 50%;
                            display: inline-block;
                            border-left: 1px dashed rgba(255, 255, 255, 0.3);
                        }
                        &.shortname {
                            text-align: center;
                            display: block;
                            border-top: 1px dashed rgba(255, 255, 255, 0.3); 
                            border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
                            font-size: 0.9em;
                        }
                        &.spacer {
                            display:none;
                        }
                    }
                    .info {
                        display:none;
                    }
                    &.header {
                        display:none;
                    }
                }
            }
        }
    }

}
.row { width: 100%;
 display: table; 
 table-layout: fixed; }
.col { display: table-cell; }

